on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master
  workflow_dispatch:
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: jiro4989/setup-nim-action@v1.0.5
      - run: nimble install -d -Y && nimble test -Y
